.ratingWrapper {
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.ratingGrp {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    list-style: none;
}

.ratingItem {
    min-width: 100px;
    height: 72px;
    float: left;
    margin-right: 8px;
    display: block;
    text-align: center;
}
.ratingItem :global .radioItem input[type="radio"] {
    margin: 0;
}

.ratingItem :global .radioItem input[type="radio"] + label  {
    padding-left: 0;
}

.label {
    font-size: 14px;
    color: #666;
    line-height: 18px;
    padding: 6px 0;
    margin-bottom: 8px;
}

.ratingWrapper input[type=text] {
    padding: 0 10px;
    margin: 20px;
    width: 90%;
    padding: 5px 8px;
}

@media only screen and (max-width: 639px) {
    .scaleWrapper {
        width: 100%;
        margin: 20px 0;
    }
}
