/*
 * Style for components/EditPanel/EditMultiOptions/index.js
 */

.addBtn {
    margin-right: 20px;
}

.otherBtn {
    border-style: hidden;
}

.longText {
    width: 426px;
}

.disabled, a:hover.disabled {
    cursor: default;
    color: #BFBFBF;
    text-decoration: none;
}
