
/***** Global Component *****/
:global body {
    background-color: #eee;
    font-family: arial,sans-serif;

    &.bg {
        background-color: #eaf2f3;
    }
}

:global button {
    outline: none;
}

:global .input {
    padding: 0 8px;
    border-style: solid;
    border-color: #bfbfbf;
    border-width: 1px 1px 2px 1px;
    font-size: 14px;
    color: #222;

    &:focus {
        border-color: #2b99d6;
    }

    &.input--small {
        line-height: 24px;
    }

    &.input--medium {
        line-height: 32px;
    }

    &.input--large {
        font-size: 28px;
        line-height: 40px;
        padding: 0 10px;
    }

    &.input--error {
        border-color: #d93f2b;
    }
}

:global .input__msg {
    margin-top: 6px;
    color: #d93f2b;
    font-size: 14px;
}

:global .button {
    cursor: pointer;
    padding: 0 12px;
    min-width: 80px;
    font-size: 14px;
    color: #222;
    text-align: center;
    background-color: #cfcfcf;
    border: 1px solid #cfcfcf;

    &.button--small {
        height: 24px;
    }

    &.button--medium {
        height: 32px;
    }

    &.button--large {
        height: 40px;
        min-width: 96px;
    }

    &.button--red {
        background-color: #df313b;
        border-color: #df313b;
        color: #FFF;
    }
    &.button--blue {
        background-color: #2695d2;
        border-color: #2695d2;
        color: #FFF;
    }
}

:global .close {
    background: resolve("component/ic_popup_close.png") no-repeat 0 0;
    height: 40px;
    width: 40px;
    text-indent: -99999px;
    outline: none;
    border: none;
    z-index: 1;
    &:hover {
        background-position: 0 -39px;
    }
    &:active {
        background-position: 0 -79px;
    }
    &:disabled {
        background-position: 0 -120px;
    }
}


:global .questionItem {
    background-color: #FFF;
    & > div {
        display: table-cell;
        &.question {
            position: relative;
            width: 640px;
            vertical-align: top;
            padding: 36px;
            min-height: 135px;
            cursor: pointer;
            & > * {
                pointer-events: none;
            }
            &:hover {
                background-color: #fafafa;
            }
            &:after {
                content: '';
                position: absolute;
                top: 36px;
                right: 0;
                width: 1px;
                height: calc(100% - 72px);
                background: #EEE;
            }
        }
        &.control {
            vertical-align: top;
            text-align: center;
            padding: 36px 0 36px 28px;
            button {
                display: block;
                margin: 0 0 8px;
                height: 32px;
            }
        }
    }
    &.edit {
        .question {
            background-color: #e3f5fa;
        }
    }
}

:global .questionLine {
    border-top: 1px solid #DDD;
    margin: 0 16px;
}

:global .btn {
    border: 1px dashed #999;
    background-color: #fff;
    border-radius: 5px;
    color: #1F8ECC;
}

:global .actionBtn {
    border: 1px solid #999;
    background-color: #3b629c;
    border-radius: 5px;
    color: #FFF;
    width: 100px;
    margin: 5px;
}

:global .modalEditPanel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    .editpanel {
        position: absolute;
        width: 450px;
        height: calc(100% - 60px);
        top: 60px;
        right: 0;
        background-color: #fff;
        border-top-left-radius: 4px;
        box-shadow: 1px 1px 8px rgba(0,0,0, 0.35);

        .edit {
            position: absolute;
            right: 0;
            width: 100%;
            height: calc(100% - 72px);
            padding: 36px 36px 0 36px;

            .editContent {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
        .bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 72px;
            padding: 16px 0 24px;
            box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.35);
            text-align: center;

            & > div {
                margin: 0 6px;
                display: inline-block;
            }
        }
    }
}

.wrap {
	position: relative;
    min-width: 960px;
}

.content {
    width: 880px;
    margin: 0 auto;
}
