
/***** Global Component *****/
:global html {
    overflow-x: auto;
    min-width: 1000px;
    width: 100%;
    position: relative;
    min-height: 100%;
    &.non-scroll { position: fixed; }
}

:global body {
    overflow-x: auto;
    min-width: 1000px;
    width: 100%;
    min-height: 100%;
    line-height: 20px;
    margin-bottom: 82px;
    font-family: arial,sans-serif;
    background-color: #FFFFFF;

    &.bg {
        background-color: #eaf2f3;
    }
}

:global button {
    outline: none;
}

:global .link {
    cursor: pointer;
    color: #1F8ECC;
    &:hover {
        color: #007ABB;
        &.disabled, &[disabled], &:disabled {
            color: #1F8ECC;
        }
    }
    &:active, &:focus {
        color: rgba(0, 122 ,187, 0.5);
    }
    &.disabled, &[disabled], &:disabled {
        cursor: default;
        color: #1F8ECC;
    }
}

:global .textarea,
:global .input,
:global .inputItem input[type="text"].input,
:global .checkboxItem input[type="text"].input,
:global .radioItem input[type="text"].input {
    padding: 5px 8px 4px;
    border-style: solid;
    border-color: #bfbfbf;
    border-width: 1px 1px 2px 1px;
    font-size: 14px;
    color: #777;
    background-color: #fff;

    &:focus {
        border-color: #2b99d6;
        color: #222;
    }

    &.input--small {
        padding: 1px 8px 1px;
    }

    &.input--large {
        font-size: 22px;
        padding: 6px 10px 5px;
    }

    &.input--error {
        border-color: #d93f2b;
    }
}

:global .subdescription {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #666;
}

:global .textarea {
    padding: 8px;
    resize: none;
}

:global .input__msg {
    margin-top: 6px;
    color: #d93f2b;
    font-size: 14px;
}

:global .button {
    cursor: pointer;
    padding: 0 12px;
    min-width: 80px;
    font-size: 14px;
    color: #222;
    text-align: center;
    background-color: #cfcfcf;
    border: 1px solid #cfcfcf;

    &.button--small {
        height: 24px;
    }

    &.button--medium {
        height: 32px;
    }

    &.button--large {
        height: 40px;
        min-width: 96px;
    }

    &.button--red {
        background-color: #df313b;
        border-color: #df313b;
        color: #FFF;
    }
    &.button--blue {
        background-color: #2695d2;
        border-color: #2695d2;
        color: #FFF;
    }
}

:global .close {
    background: resolve("component/ic_popup_close.png") no-repeat 0 0;
    height: 40px;
    width: 40px;
    text-indent: -99999px;
    outline: none;
    border: none;
    z-index: 1;
    &:hover {
        background-position: 0 -39px;
    }
    &:active {
        background-position: 0 -79px;
    }
    &:disabled {
        background-position: 0 -120px;
    }
}


:global .questionItem {
    & > div {
        display: table-cell;
        &.question {
            position: relative;
            width: 640px;
            vertical-align: top;
            padding: 36px;
            min-height: 135px;
            cursor: pointer;
            & > * {
                pointer-events: none;
            }
            &:hover {
                background-color: #fafafa;
            }
            &:after {
                content: '';
                position: absolute;
                top: 36px;
                right: 0;
                width: 1px;
                height: calc(100% - 72px);
                background: #EEE;
            }
        }
        &.control {
            vertical-align: top;
            text-align: left;
            padding: 36px 0 36px 28px;
            button {
                display: block;
                margin: 0 0 8px;
                height: 32px;
            }
        }
    }
    &.edit {
        .question, .question:hover {
            background-color: #e3f5fa;
        }
    }
}

:global .questionGrp:first-child .questionItem .question {
    border-top-left-radius: 4px;
}

:global .questionLine {
    border-top: 1px solid #DDD;
    margin: 0 16px;
}

:global .btn {
    border: 1px dashed #999;
    background-color: #fff;
    border-radius: 5px;
    color: #1F8ECC;
}

:global .actionBtn {
    border: 1px solid #999;
    background-color: #3b629c;
    border-radius: 5px;
    color: #FFF;
    width: 100px;
    margin: 5px;
}

:global .modalEditPanel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    .editpanel {
        position: absolute;
        width: 500px;
        height: calc(100% - 60px);
        top: 60px;
        right: 0;
        background-color: #fff;
        border-top-left-radius: 4px;
        box-shadow: 1px 1px 8px rgba(0,0,0, 0.35);

        .edit {
            position: absolute;
            right: 0;
            width: 100%;
            height: calc(100% - 72px - 25px);
            padding: 36px 36px 0 36px;

            .editContent {
                width: 100%;
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
        .bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 16px 0 22px;
            box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.35);
            text-align: center;

            .edit-hint {
                display: block;
                color: #d93f2b;
                font-size: 14px;
                margin-bottom: 5px;
            }
            & > div {
                margin: 0 6px;
                display: inline-block;
            }
        }
    }
}

@keyframes :global(shake) {
    from, to {
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}

:global .shake {
    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/***** Global Component Checkbox *****/
:global .checkboxGrp {
    margin-left: 35px;
}

:global .checkboxItem {
    position: relative;
}

:global .checkboxItem input[type="checkbox"] {
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    margin-left: -20px;
    cursor: pointer;
}

:global .checkboxItem input[type="checkbox"] + label {
    clear: none;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    font-weight: normal;
    padding-left: 10px;
    margin-top: 5px;
}

:global .checkboxItem input[type="checkbox"]:disabled + label {
    cursor: default;
}

:global .checkboxItem input[type="checkbox"] + label:before {
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: -20px;
    margin-top: 5px;
    margin-right: 10px;
    background: resolve("component/ic_checkbox_unchecked_normal.png");
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:checked + label:before {
    background: resolve("component/ic_checkbox_checked_normal.png");
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:hover + label:before {
    background: resolve("component/ic_checkbox_unchecked_hover.png");
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:checked:hover + label:before {
    background: resolve("component/ic_checkbox_checked_hover.png");
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:disabled + label:before {
    background: resolve("component/ic_checkbox_unchecked_disable.png");
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:checked:disabled + label:before {
    background: resolve("component/ic_checkbox_checked_disable.png");
    background-size: 100%;
}

:global .checkboxItem input[type="text"] {
    margin-left: 10px;
}

/***** Global Component Radio *****/
:global .radioGrp {
    margin-left: 35px;
}

:global .radioItem {
    position: relative;
}

:global .radioItem input[type="radio"] {
    opacity: 0;
    width: 20px;
    position: absolute;
    z-index: 1;
    margin-left: -20px;
    cursor: pointer;
}

:global .radioItem input[type="radio"] + label {
    clear: none;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    font-weight: normal;
    padding-left: 10px;
    margin-top: 5px;
}

:global .radioItem input[type="radio"]:disabled + label {
    cursor: default;
}

:global .radioItem input[type="radio"] + label:before {
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: -20px;
    margin-top: 5px;
    margin-right: 10px;
    background: resolve("component/ic_radiobtn_unchecked_normal.png");
    background-size: 100%;
}

:global .radioItem input[type="radio"]:checked + label:before {
    background: resolve("component/ic_radiobtn_checked_normal.png");
    background-size: 100%;
}

:global .radioItem input[type="radio"]:hover + label:before {
    background: resolve("component/ic_radiobtn_unchecked_hover.png");
    background-size: 100%;
}

:global .radioItem input[type="radio"]:checked:hover + label:before {
    background: resolve("component/ic_radiobtn_checked_hover.png");
    background-size: 100%;
}

:global .radioItem input[type="radio"]:disabled + label:before {
    background: resolve("component/ic_radiobtn_unchecked_disable.png");
    background-size: 100%;
}

:global .radioItem input[type="radio"]:checked:disabled + label:before {
    background: resolve("component/ic_radiobtn_checked_disable.png");
    background-size: 100%;
}

:global .radioItem input[type="text"] {
    margin-left: 10px;
}

/***** Global Component POPUP *****/
:global .popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    .popup_wrap {
        text-align: center;
        height: 100%;
        &:before {
            content: "";
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .wrap {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        width: 640px;
        min-height: 150px;
        background-color: #FFF;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
    }
    .content {
        position: relative;
    }
}

.wrap {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    margin: 0 auto;
}

.content {
    overflow: hidden;
    position: relative;
    min-height: 244px;
    .content_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: resolve("bg_cloud_top.png") center 0 no-repeat;
    }
    .container {
        position: relative;
        width: 880px;
        margin: 0 auto;
        &:before {
            display: table;
            content: "";
            line-height: 0;
        }
        &:after {
            clear: both;
            display: table;
            content: "";
            line-height: 0;
        }
    }
}
