/*
 * Style for components/IconButton/index.js
 */

.btn-icon {
    cursor: pointer;
    display: inline-block;
    .icon {
        display: table-cell;
        width: 32px;
        height: 32px;
        background-image: resolve("component/ic_add.png");
        background-position: 0 0;
    }
    .txt {
        display: table-cell;
        color: #222;
        font-size: 14px;
        line-height: 32px;
        vertical-align: middle;
    }
    &.disabled, &[disabled], &:disabled {
        cursor: default;
        .icon {  background-position: 0 -96px; }
        .txt { color: #cbcece; }
        &:hover, &:active, &:focus {
            .icon {  background-position: 0 -96px; }
            .txt { color: #cbcece; }
        }
    }
    &:hover {
        .icon { background-position: 0 -32px; }
        .txt { color: #333f42; }
    }
    &:active, &:focus {
        .icon { background-position: 0 -64px; }
        .txt { color: #1a1c1d; }
    }

    /* share */
    &.btn-icon-share .icon { background-image: resolve("component/ic_share.png"); }
    /* report */
    &.btn-icon-report .icon { background-image: resolve("component/ic_report.png"); }
    /* delete */
    &.btn-icon-delete .icon { background-image: resolve("component/ic_delet.png"); }
    /* preview */
    &.btn-icon-preview .icon { background-image: resolve("component/ic_preview.png"); }
    /* move */
    &.btn-icon-move .icon { background-image: resolve("component/ic_move.png"); }
    /* copy */
    &.btn-icon-copy .icon { background-image: resolve("component/ic_copy.png"); }

    /* preview mode */
    /* one more type: when selected */
    &.btn-icon-embeddedIcon {
        .icon { background-image: resolve("component/ic_embedded_preview_normal.png"); }
        &.disabled, &[disabled], &:disabled {
            .icon {  background-image: resolve("component/ic_embedded_preview_normal.png"); }
            &:hover, &:active, &:focus {
                .icon {  background-image: resolve("component/ic_embedded_preview_normal.png"); }
            }
        }
        &:hover {
            .icon { background-image: resolve("component/ic_embedded_preview_hover.png"); }
        }
        &:active, &:focus, &.selected {
            .icon { background-image: resolve("component/ic_embedded_preview_selected.png"); }
        }
    }
    &.btn-icon-previewPhoneIcon {
        .icon { background-image: resolve("component/ic_phone_preview_normal.png"); }
        &.disabled, &[disabled], &:disabled {
            .icon {  background-image: resolve("component/ic_phone_preview_normal.png"); }
            &:hover, &:active, &:focus {
                .icon {  background-image: resolve("component/ic_phone_preview_normal.png"); }
            }
        }
        &:hover {
            .icon { background-image: resolve("component/ic_phone_preview_hover.png"); }
        }
        &:active, &:focus, &.selected {
            .icon { background-image: resolve("component/ic_phone_preview_selected.png"); }
        }
    }
    &.btn-icon-previewPadIcon {
        .icon { background-image: resolve("component/ic_pad_preview_normal.png"); }
        &.disabled, &[disabled], &:disabled {
            .icon {  background-image: resolve("component/ic_pad_preview_normal.png"); }
            &:hover, &:active, &:focus {
                .icon {  background-image: resolve("component/ic_pad_preview_normal.png"); }
            }
        }
        &:hover {
            .icon { background-image: resolve("component/ic_pad_preview_hover.png"); }
        }
        &:active, &:focus, &.selected {
            .icon { background-image: resolve("component/ic_pad_preview_selected.png"); }
        }
    }
    &.btn-icon-previewDesktopIcon {
        .icon { background-image: resolve("component/ic_desktop_preview_normal.png"); }
        &.disabled, &[disabled], &:disabled {
            .icon {  background-image: resolve("component/ic_desktop_preview_normal.png"); }
            &:hover, &:active, &:focus {
                .icon {  background-image: resolve("component/ic_desktop_preview_normal.png"); }
            }
        }
        &:hover {
            .icon { background-image: resolve("component/ic_desktop_preview_hover.png"); }
        }
        &:active, &:focus, &.selected {
            .icon { background-image: resolve("component/ic_desktop_preview_selected.png"); }
        }
    }
}

