/*
 * Style for components/Popup/Subject/index.js
 */

.popup {
    .wrap {
        min-height: 200px;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: #ED1C24;
        }
    }
    .content {
        margin: 36px 80px 24px;
    }
    .title {
        font-size: 18px;
        font-family: Arial;
        color: #222;
        margin-bottom: 20px;
    }
    .input {
        width: 100%;
    }
    .input__msg {
        width: 100%;
    }
    .bottom {
        text-align: center;
        margin-top: 30px;

        & > div {
            margin: 0 4px;
            display: inline-block;
        }
    }
}
