/*
 * Style for components/UserList/index.js
 */
.wrap { position: relative; }
.bird {
    position: absolute;
    top: -41px;
    left: 24px;
    width: 64px;
    height: 64px;
    background: resolve("component/img_bird_title.png") 0 0 no-repeat;
}
.list {
    margin-top: 120px;
    margin-bottom: 48px;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);

    &.nodata {
        min-height: 300px;
    }
}

.listTb {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    text-align: left;

    th {
        color: #222;
        font-weight: normal;
        padding: 18px 12px;
    }
    tr {
        border-bottom: 1px solid #BFBFBF;
    }
    tbody tr {
        &:last-child {
            border-bottom: none;
        }
    }
    td{
        padding: 14px 12px;
        vertical-align: middle;
        color: #666;
        word-wrap: break-word;
    }
    .name {
        width: 600px;
    }
}

.roleBtn {
    color: #666;
    font-size: 14px;
    line-height: 26px;
    span {
        cursor: pointer;
        display: inline-block;
        padding: 0 16px;
        border: 1px solid #DDD;
        border-left: none;
        border-right: none;
        background-color: #FFF;
        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-left: 1px solid #DDD;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right: 1px solid #DDD;
        }
        &:hover, &.active {
            color: #FFF;
            background-color: #1F8ECC;
        }
    }
}
