.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.btnWrapper {
    text-align: center;
}

.btn {
    background: #fff;
    color: #BD2A2A;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #BD2A2A;
    outline: none;
    margin-right: 10px;
}

.btn:hover {
    background: #BD2A2A;
    color: #fff;
}

.prev {
    composes: btn;
}

.next {
    composes: btn;
}

.progressWrapper {
    width: 90%;
    height: 20px;
    border-radius: 5px;
    background: #aaa;
    margin: 20px auto;
    position: relative;
}

.progress {
    height: 20px;
    background: #BD2A2A;
    border-radius: 5px 0 0 5px;
}

.progressComplete {
    composes: progress;
    border-radius: 5px;
}

.progressText {
    position: absolute;
    left: 10px;
    color: #fff;
}
