.pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.btnWrapperNext {
    position: absolute;
    left: 50%;
    margin: 20px 0 20px 216px;
}

.btnWrapperPrev {
    position: absolute;
    right: 50%;
    margin: 20px 216px 20px 0;
}

.pagingBtnNext {
    float: right;
}

.pagingBtnPrev {
    float: left;
}

.prevMobile {
   display: none;
}

.nextMobile {
    display: none;
}

.progressWrapper {
    width: 400px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #bbb;
    background: #fff;
    margin: 28px auto;
    position: relative;
}

.progress {
    height: 18px;
    background: #1F8ECC;
    border-radius: 10px 0 0 10px;
}

.progressComplete {
    composes: progress;
    border-radius: 5px;
}

.progressText {
    position: absolute;
    left: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}

/* Preview styles */
.paginationPreview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 96px;
}

.btnWrapperNextPreview {
    position: absolute;
    left: 50%;
    margin: 16px 0 20px 5px;
}

.btnWrapperPrevPreview {
    position: absolute;
    right: 50%;
    margin: 16px 5px 20px 0;
}

.progressWrapperPreview {
    width: 400px;
    border-radius: 10px;
    border: 1px solid #bbb;
    background: #fff;
    margin: 62px auto 0 auto;
    position: relative;
}

@media only screen and (max-width: 639px) {
    .pagination, .paginationPreview {
        height: 60px;
    }
    .progressWrapper, .progressWrapperPreview {
        width: 70%;
        margin-top: 20px;
    }

    .pagingBtnNext, .pagingBtnPrev {
        display: none;
    }

    .mobile {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        bottom: 15px;
        cursor: pointer;
    }

    .prevMobile {
        composes: mobile;
        left: 4px;
        background: url(../../../assets/images/component/ic_back_mobile_normal.png) 0 0 no-repeat;
        background-size: 100%;

    }

    .nextMobile {
        composes: mobile;
        right: 4px;
        background: url(../../../assets/images/component/ic_next_mobile_normal.png) 0 0 no-repeat;
        background-size: 100%;
    }

    .doneMobile {
        composes: mobile;
        right: 4px;
        background: url(../../../assets/images/component/ic_next_mobile_normal.png) 0 0 no-repeat;
        background-size: 100%;
    }
}
