/*
 * Style for components/Text/index.js
 */

.inputItem input[type=text] {
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 6px 13px;
    height: 34px;
    margin-left: 20px;
    width: 90%;
}

.inputItem input[type="text"]:-ms-input-placeholder {
    color: #aaa;
}
