/*
 * Style for components/Menu/index.js
 */
.menu {
    position: fixed;
    width: 150px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    padding-top: 30px;
    .item {
		padding: 5px 10px;
    }
}