/*
 * Style for components/EditPanel/OrderPage/index.js
 */

.item {
    margin: 0 5px 20px 0;

    .title {
        display: inline-block;
        width: 220px;
        border: 1px solid #999;
    }
}
