.question {
    font-size: 16px;
    display: inline-block;
    margin: 15px 20px 10px 0;
}

.terms {
    margin: 20px;
    width: 80%;
}

.terms input[type="checkbox"] {
    position: absolute;
}

.terms .desc {
    float: left;
    margin: 0 0 10px 20px;
}

.bottomWrapper {
    margin-left: 20px;
    position: relative;
    width: 90%;
    height: 80px;
    overflow: hidden;
}

.terms input[type="text"] {
    padding: 0 10px;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 5px 8px;
}

.btn {
    float: right;
}

