.question {
    font-size: 16px;
    display: inline-block;
    margin: 10px 0 10px 0;
}

.terms {
    margin: 20px;
    width: 80%;
}

.bottomWrapper {
    margin-left: 30px;
    position: relative;
    width: 90%;
    overflow: hidden;
}

.terms input[type="text"] {
    padding: 0 10px;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 5px 8px;
}

.terms input[type="text"]:disabled {
    border: 1px solid #ddd;
    color: #aaa;
    background-color: #f0f0f0;
}

.btn {
    float: right;
}

