.question {
    font-size: 16px;
    display: inline-block;
    margin: 15px 20px 10px 0;
}

.terms {
    margin: 20px;
    width: 80%;
}

.terms input[type="checkbox"] {
    position: absolute;
}

.terms .desc {
    float: left;
    margin: 0 0 10px 20px;
}

.bottomWrapper {
    margin-left: 20px;
    position: relative;
    width: 90%;
    height: 80px;
    overflow: hidden;
}

.terms input[type="text"] {
    padding: 0 10px;
    margin: 0 0 10px 0;
    width: 100%;
    padding: 5px 8px;
}

.btn {
    background: #fff;
    color: #BD2A2A;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #BD2A2A;
    outline: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn:hover {
    background: #BD2A2A;
    color: #fff;
}
