/*
 * Style for components/EditPanel/EditQuestion/index.js
 */

.editSection {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0px;
    }
    .title {
        font-size: 18px;
        color: #222;
        margin-bottom: 8px;
    }

    select {
        width: 200px;
    }

    input[type="text"] {
        width: 300px;
    }

    textarea {
        width: 360px;
        resize: none;
    }

    .item {
        label {
            font-weight: normal;
            font-size: 14px;
            color: #666;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }

        input[type="text"] {
            width: 140px;
        }
    }
}
