/*
 * Style for components/Checkbox/index.js
 */

.checkboxGrp {
    margin-left: 24px;
}

.checkboxItem {
    margin: 12px 0;
}

.checkboxItem input[type="checkbox"] {
    margin-right: 8px;
}

.checkboxItem label {
    font-size: 14px;
    color: #666;
    font-weight: normal;
    margin-right: 8px;
}

