/*
 * Style for containers/PreviewPop/Preview/index.js
 * TODOS: integrate popup
 */

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);

    .wrap {
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -468px;
        margin-top: -308px;
        width: 936px;
        min-height: 616px;
        border-radius: 8px;
        box-shadow: 0 0 12px rgba(0,0,0,0.5);
        background-color: #FFF;
    }

    .content {
        position: relative;
        margin: 12px;
    }

    .header {
        position: relative;
        padding: 8px 0 0 12px;

        & > div {
            display: table-cell;
            vertical-align: bottom;
        }
    }

    .title {
        padding-right: 32px;
        font-size: 32px;
        line-height: 32px;
        color: #222;
        letter-spacing: -1.76px;
    }

    .control {
        line-height: 0;
        & > div {
            margin-right: 4px;
        }
    }

    .preview {
        position: relative;
        margin-top: 20px;
        border: 12px solid #222;
        height: 532px;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
    }
}
