/*
 * Style for components/Radio/index.js
 */

.radioGrp {
    margin-left: 30px;
}

:global .radioItem input[type="radio"] {
	opacity: 0;
    width: 19px;
    margin-left: -20px;
}

:global .radioItem input[type="radio"] + label {
    clear: none;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 8px;
}

:global .radioItem input[type="radio"]:disabled + label {
    cursor: default;
}

:global .radioItem input[type="radio"] + label:before {
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    visibility: visible;
    position: relative;
    top: 5px;
    margin-right: 10px;
    background: url(../../../assets/images/component/ic_radiobtn_unchecked_normal.png);
    background-size: 100%;
}

:global .radioItem input[type="radio"]:checked + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_checked_normal.png);
    background-size: 100%;
}

:global .radioItem input[type="radio"]:hover + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_unchecked_hover.png);
    background-size: 100%;
}

:global .radioItem input[type="radio"]:checked:hover + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_checked_hover.png);
    background-size: 100%;
}

.radioItem input[type="radio"]:disabled + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_unchecked_disable.png);
    background-size: 100%;
}

.radioItem input[type="radio"]:checked:disabled + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_checked_disable.png);
    background-size: 100%;
}

.radioItem input[type="text"] {
	margin-left: 20px;
	padding: 0 10px;
    min-width: 250px;
}

