/*
 * Style for components/Radio/index.js
 */

.radioGrp {
    margin-left: 35px;
}

:global .radioItem input[type="radio"] {
	opacity: 0;
    width: 20px;
    height: 20px;
    margin-left: -20px;
}

:global .radioItem input[type="radio"] + label {
    clear: none;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 8px;
    position: relative;
    padding-left: 10px;
}

:global .radioItem input[type="radio"]:disabled + label {
    cursor: default;
}

:global .radioItem input[type="radio"] + label:before {
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: -20px;
    margin-right: 10px;
    background: url(../../../assets/images/component/ic_radiobtn_unchecked_normal.png);
    background-size: 100%;
}

:global .radioItem input[type="radio"]:checked + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_checked_normal.png);
    background-size: 100%;
}

:global .radioItem input[type="radio"]:hover + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_unchecked_hover.png);
    background-size: 100%;
}

:global .radioItem input[type="radio"]:checked:hover + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_checked_hover.png);
    background-size: 100%;
}

:global .radioItem input[type="radio"]:disabled + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_unchecked_disable.png);
    background-size: 100%;
}

:global .radioItem input[type="radio"]:checked:disabled + label:before {
    background: url(../../../assets/images/component/ic_radiobtn_checked_disable.png);
    background-size: 100%;
}

:global .radioItem input[type="text"] {
	margin: 0 0 5px 10px;
	font-size: 15px;
    background-color: #fff;
    border: 1px solid #bbb;
    padding: 2px 5px;
    min-width: 320px;
}

:global .radioItem input[type="text"]:-ms-input-placeholder {
    color: #aaa;
}

:global .subdescription {
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #666;
}

@media only screen and (max-width: 639px) {
    :global .radioItem input[type="text"] {
        min-width: 90%;
    }
}
