/*
 * Style for components/Radio/index.js
 */

.radioGrp {
    margin-left: 24px;
}

.radioItem {
    margin: 12px 0;
}

.radioItem input[type="radio"] {
	margin-right: 8px;
}

.radioItem label {
    font-size: 14px;
    color: #666;
    font-weight: normal;
    margin-right: 8px;
}
