/*
 * Style for components/Radio/index.js
 */

.radioItem {
    margin: 5px 0;
}

.radioItem input[type="radio"] {
	margin-right: 10px;
}

.radioItem input[type="text"] {
	margin-left: 10px;
	padding: 0 10px;
}

