/*
 * Style for components/Question/index.js
 */

.question {
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0;
    color: #222;
    margin-bottom: 8px;
}

.required {
	color: #D63833;
}

