/*
 * Style for components/Question/index.js
 */

.question {
    font-size: 16px;
    display: inline-block;
    margin: 0 20px 10px 0;
    .title {
        display: -moz-box;
        display: -webkit-box;
        &:before {
            content: attr(title) ".";
            margin-right: 5px;
        }
        .text {
            -moz-box-flex: 1;
            -webkit-box-flex: 1;
            box-flex: 1;
        }
    }
}

.question.required {
    padding-left: 20px;
    &:before {
        content: '*';
        color: #D63833;
        display: block;
        float: left;
        margin-left: -15px;
    }
}

