
.page {
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
}

.wrap {
    width: 100%;
    border: 1px solid #999;
    border-radius: 8px;
    margin: 10px auto;
    background-color: #eee;
}

.button {
    padding: 5px 20px;
    margin: 20px 5px;
}

.control {
    float: right;
}
