
.page {
    position: relative;
    width: 100%;
    margin: 0 0 48px;
    padding: 5px 0;
    &:first-child {
        margin-top: 80px;
    }
    &:last-child {
        margin-bottom: 24px;
    }
}

.header {
    position: relative;
    overflow: hidden;
    .title {
        cursor: pointer;
        display: table-cell;
        width: 670px;
        font-size: 24px;
        line-height: 30px;
        color: #22727F;
        letter-spacing: -0.72px;
        padding-left: 36px;
    }
    .control {
        display: table-cell;
        vertical-align: bottom;
        text-align: center;
        line-height: 0;
        padding-left: 16px;
        & > div {
            margin-right: 16px;
        }
    }
}

.box {
    width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    margin-top: 8px;
    border: 1px solid #BFBFBF;
}

.addBtn {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    font-size: 18px;
    color: #1F8ECC;
    background-color: #FFF;
    border: none;
}
