
.page {
    position: relative;
    width: 500px;
    margin: 10px auto;
    padding: 5px 0;
}

.wrap {
    width: 500px;
    border: 1px solid #999;
    border-radius: 8px;
    margin: 10px auto;
    background-color: #d6d6d6;
}

.button {
    padding: 5px 20px;
    margin: 20px 5px;
}

.control {
    float: right;
}
