/*
 * Style for components/EditPanel/EditPage/index.js
 */

.item {
    margin: 0 5px 20px 0;
    &:after {
        content: '';
        clear: both;
    }
    .title {
        float: left;
        line-height: 32px;
    }
    .field {
        float: left;
        margin-left: 10px;
    }
    .input {
        width: 360px;
    }
}
