/*
 * Style for components/Design/index.js
 */

.notEditable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.control {
    .pageBtn {
        width: 100%;
        height: 48px;
        border: 2px dashed #BFBFBF;
        background-color: #fff;
        border-radius: 4px;
        font-size: 18px;
        color: #1F8ECC;
    }
}
