
:global .questionItem {
    overflow: hidden;
    width: 100%;
    background-color: #eee;
    box-shadow: 2px 2px 2px rgba(55, 55, 55, 0.4), 0px 0px 6px rgba(55, 55, 55, 0.4);
    margin: 3px 0;
    & > div {
        float: left;
        &.question {
            width: 85%;
            background-color: #FFF;
            border: 1px solid #000;
            border-right: none;
            min-height: 135px;
            padding: 10px;
            cursor: pointer;
            & > * {
                pointer-events: none;
            }
        }
        &.control {
            padding: 10px 0;
            width: 15%;
            text-align: center;
            button {
                margin: 5px 20px;
            }
        }
    }
    &.edit {
        .question {
            background-color: #c6e8ff;
            border: 2px dashed #999;
            border-right: none;
        }
    }
    &:after {
        content: '';
        clear: both;
    }
}

:global .btn {
    border: 1px dashed #999;
    background-color: #fff;
    border-radius: 5px;
    color: #3762b9;
}

:global .actionBtn {
    border: 1px solid #999;
    background-color: #3b629c;
    border-radius: 5px;
    color: #FFF;
    width: 100px;
    margin: 5px;
}

:global .modalEditPanel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    .editpanel {
        position: absolute;
        width: 450px;
        height: 100%;
        right: 0;

        .edit {
            position: absolute;
            bottom: 60px;
            right: 0;
            width: 100%;
            height: 88%;
            background-color: #FFF;
            border: 1px solid #999;
            border-top-left-radius: 5px;
            padding: 10px;

            .editContent {
                width: 100%;
                height: 100%;
                padding: 10px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
        .bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: #d6d6d6;
            padding-top: 10px;
            border: 1px solid #999;
            border-top: none;
            text-align: center;
        }
    }
}

.control {
    margin: 20px 0;

    .pageBtn {
        width: 100%;
        padding: 10px 0;
    }
}

