/*
 * Style for components/Checkbox/index.js
 */

.checkboxGrp {
    margin-left: 30px;
}

.checkboxItem input[type="checkbox"] {
	margin-right: 10px;
}

.checkboxItem input[type="text"] {
	margin-left: 10px;
	padding: 0 10px;
}
