/*
 * Style for components/Checkbox/index.js
 */

:global .checkboxGrp {
    margin-left: 30px;
}

:global .checkboxItem {
    position: relative;
}

:global .checkboxItem input[type="checkbox"] {
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
}

:global .checkboxItem input[type="checkbox"] + label {
    clear: none;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 8px;
}

:global .checkboxItem input[type="checkbox"]:disabled + label {
    cursor: default;
}

:global .checkboxItem input[type="checkbox"] + label:before {
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    visibility: visible;
    position: relative;
    top: 5px;
    margin-right: 10px;
    background: url(../../../assets/images/component/ic_checkbox_unchecked_normal.png);
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:checked + label:before {
    background: url(../../../assets/images/component/ic_checkbox_checked_normal.png);
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:hover + label:before {
    background: url(../../../assets/images/component/ic_checkbox_unchecked_hover.png);
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:checked:hover + label:before {
    background: url(../../../assets/images/component/ic_checkbox_checked_hover.png);
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:disabled + label:before {
    background: url(../../../assets/images/component/ic_checkbox_unchecked_disable.png);
    background-size: 100%;
}

:global .checkboxItem input[type="checkbox"]:checked:disabled + label:before {
    background: url(../../../assets/images/component/ic_checkbox_checked_disable.png);
    background-size: 100%;
}

:global .checkboxItem input[type="text"] {
	margin-left: 20px;
	padding: 0 10px;
    color: #aaa;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #bbb;
    padding: 4px 13px;
    min-width: 250px;
}
