/*
 * Style for components/Textarea/index.js
 */

.textarea {
    color: #aaa;
    font-size: 17px;
    background-color: #fff;
    border: 1px solid #bbb;
    margin: 0;
    padding: 6px 13px;
    width: 320px;
}
