/*
 * Style for components/Textarea/index.js
 */

.textarea {
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 6px 13px;
    width: 90%;
    margin-left: 20px;
}

.textarea input[type="text"]:-ms-input-placeholder {
    color: #aaa;
}
