/*
 * Style for components/Popup/NoPermission/index.js
 */

.popup {
    .wrap {
        margin-top: -75px;
        height: 150px;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: #ED1C24;
        }
    }
    .content {
        margin: 36px 80px 24px;
    }
    .title {
        font-size: 18px;
        font-family: Arial;
        color: #222;
        margin-bottom: 20px;
    }
    .bottom {
        text-align: center;
        margin-top: 30px;

        & > div {
            margin: 0 4px;
            display: inline-block;
        }
    }
}
