/*
 * Style for components/Header/index.js
 */
.header {
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    background-color: #fff;
    padding: 0 0 12px;
    position: relative;
    box-sizing: border-box;

    &.edit {
        padding: 0;
    }
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #e30919;
    }
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;

    &:before {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
        display: table;
        content: "";
        line-height: 0;
    }
}

.trend {
    position: relative;
    padding: 15px 0 0;
    vertical-align: top;

    .logo {
        width: 40px;
        height: 40px;
        background: resolve("ic_logo_symbol_qustom.png") 0 0 no-repeat;
        float: left;
        margin-right: 10px;
    }

    .productlogo {
        margin: 0;
        width: 108px;
        height: 40px;
        float: left;
        background: resolve("trend/ic_logo_qustom.png") 0 0 no-repeat;
    }
}

.qustom {
    position: relative;
    padding: 0;
    vertical-align: top;
    .back {
        float: left;
        cursor: pointer;
        width: calc(24px + 16px);
        height: 72px;
        background: resolve("ic_back_header.png") 0 center no-repeat;
        margin-left: 12px;
    }
    .title {
        float: left;
        cursor: pointer;
        font-size: 32px;
        color: #222;
        line-height: 40px;
        letter-spacing: -1.76px;
        min-width: 100px;
        padding: 16px 0;
    }
    .build {
        clear: both;
    }
    .status {
        font-size: 20px;
        line-height: 24px;
        color: #666;
        width: 132px;
        margin-left: 40px;
        padding: 10px 0;
        border-bottom: 4px solid #e4424e;
        text-align: center;
    }
}

.profile {
    position: relative;
    float: right;
    padding-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    &:after {
        content: '';
        clear: both;
    }
    &:hover {
        .name {
            color: #db3d44;
        }
    }
    .profileImg {
        display: table-cell;
        width: 25px;
        height: 20px;
        background: resolve("component/img_profile.png") 0 0 no-repeat;
    }
    .name {
        display: table-cell;
        font-size: 13px;
        line-height: 20px;
        color: #555;
    }
    .arrow {
        display: table-cell;
        width: 18px;
        height: 18px;
        background: resolve("component/ic_arrow_down.png") 0 0 no-repeat;
    }
}

.menu {
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 2;
    width: 200px;
    height: 200px;
    .menuArrow {
        position: absolute;
        top: -9px;
        left: 156px;
        width: 40px;
        height: 20px;
        overflow: hidden;
        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #555;
            transform: rotate(45deg);
            background-color: #FFF;
            transform-origin: 0% 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .menulist {
        border: 1px solid #555;
        background-color: #FFF;
        margin-top: 10px;
        padding: 5px;

        li {
            list-style-type: none;
            cursor: pointer;
            line-height: 30px;
            font-size: 13px;
            color: #555;
            padding-left: 10px;
            &:hover {
                color: #FFF;
                background-color: #ee5d64;
            }
        }
    }
}

@media only screen and (max-width: 949px) {
    .container {
        width: auto;
    }
}
